@media only screen and (max-width: 600px) {
  body {
    background-color: #c1ccce;
    color:rgba(0, 0, 0, 0.911);
    font-size:18PX;
    word-spacing: 1px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #bbf5f5c2;
    color:rgba(0, 0, 0, 0.699);
    font-size:18PX;
    word-spacing: 1px;
  }
}
@media only screen and (min-width: 992px)  {
  body {
    background-color: #b3e986;
    color:rgb(5, 46, 1);
    font-size:18PX;
    word-spacing: 1px;
  }
}
.hello{
font-size:50PX;
color:white;
background-color:rgba(255, 0, 0, 0.281);
height:70px;
font-style: Italic;
word-spacing: 5px;
letter-spacing: 2px;
background-image: linear-gradient(to right, rgba(255, 0, 0, 0.61),rgba(255, 166, 0, 0.788),rgba(255, 255, 0, 0.603),rgb(54, 206, 105),rgba(0, 0, 255, 0.568),rgba(76, 0, 130, 0.507),rgba(238, 130, 238, 0.616));
text-align:center;
}
.hello:hover{
color:yellow;
}

.hello1:hover
{
-webkit-filter: grayscale(100%);
        filter: grayscale(100%);
}

.polo{
  width: 33%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
float:left;
}

.box{
  text-align: center;
  font-weight:bold;
  font-style: Italic;
  padding: 10px 20px;
  color:black;
}

.bold{
font-size:35PX;
font-style: Italic;
word-spacing: 1px;
text-shadow: 2px 2px white;
}

.high {
  width: 400px;
  border: 5px solid gray;
  margin: 0;
  background-color:yellow;
  color:red;
}
.back
{
font-size:20PX;
word-spacing: 2px;
letter-spacing: 1px;
}
.table
{
width:50%;
text-align: center;
padding: 15px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
	
tr:hover {
background-color: yellow;
}

.img{
font-family: Trebuchet MS;
font-size:40PX;
word-spacing: 1px;
letter-spacing: 1px;
Color:rgb(8, 49, 2);
 text-shadow: 2px 2px 5px white;
}
.size{
width:400px;
height:400px;
}
.sub{
  color:white;
  font-size:35PX;
  font-style: bold;
  word-spacing: 1px;
  text-shadow: 2px 2px black;
  }

ul.myclass {
  list-style-type: none;
  margin: 0;
  padding: 30;
  overflow: hidden;
  background-color: rgb(46, 109, 37);

}

li.myclass {
  float: right;
}

li.myclass a {
  display: block;
  color: white;
  text-align: justify;
  padding: 14px 15px;
  text-decoration:solid;
}

li.myclass a:hover {
  background-color: white;
  color: black;
}
.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: rgba(250, 243, 243, 0);    }
  49%{    color: rgb(247, 240, 240); }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: rgb(252, 253, 251);    }
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
input[type=text], input[type=tel], input[type=email] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
button[type=submit], button[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 40px;
  margin: 5px 20px;
  cursor: pointer;
}

 /* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 300px;
}

.left {
  left: 0;
 } 

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */ 
